body {
  font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
  font-size: 90%;
}

a {
  text-decoration: none;
  color: #48a726;
}

a:hover {
  text-decoration: underline;
}

h1 {
  color: #FFFFFF;
  background: #003399;
  border: 2px solid black;
  padding: 10px;
}

h2 {
  color: #48a726;
}

h3 {
  color: #003399;
}

h4 {
  color: #003399;
  font-style: italic;
}

.blue{
  color: #003399;
  font-weight: bold;
}

.green{
  color: #48a726;
  font-weight: bold;
}

.gene_name{
  font-size:1.1em;
  padding-left:0px;
  border: 0px;
}

th {
  color: #FFFFFF;
  background: #003399;
  border: 1px solid #003399;
  padding: 5px;
}

th.exon_label {
	background:#2266BB;
}

a.exon_label {
	font-weight:normal;
	color:#FFF;
}

th.exon_separator {
	background:#000000;
	border-color:#000000;
}

table {
  font-size: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 5px;
}

td.quicklink_cell {
  border: 0px;
}

td.sequence_cell {
  border: 0px;
  vertical-align:middle;
  color:#000;
}

tr.gene_info_cell {
  vertical-align: top;
  margin:0px;
  padding:0px;
}

td.gene_info_cell {
  border-right: 0px;
  padding-right:0px;
}

td.transcript_mapping{
  border:0px;
  padding-right:0px;
}

td.gene_transcript_cell {
	padding:0px; 
  margin:0px;
	border-left:0px;
  border-right:0px;
}

ul{
  margin-left:20px;
  padding-left:5px;
  margin-top:2px;
  margin-bottom:6px;
  list-style-type:circle;
}

ul.ext_id{
  margin-bottom:2px;
  list-style-type:disc;
}

ul.transcript_label{
  list-style-type:disc;
  color: #003399;
  margin-top: 2px;
  padding-bottom: 6px;
}

li.transcript_label{
  padding-top: 6px;
  padding-bottom: 6px;
}

span.transcript_label{
  font-weight: bold;
  font-style: italic;
  padding-right: 5px;
}


td.quicklinks {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 10px;
}

div.pending {
  border: 2px solid #F00;
  background-color: #FDFDFD;
}

.pending_banner {
  text-align:center;
	color:#FF0000;
	font-size:40pt;
	font-weight:bold;
  padding-top:5px
}

.pending_subtitle {
	font-style:italic;
  padding:5px;
}

div.section{
  border-top: 2px solid #003399;
  border-bottom: 1px dotted #003399;
  padding: 0px;
}

h2.section{
  padding: 5px;
  margin: 0px;
}

div.source{
  margin-left:-5px;
  padding:5px;
  background-color:#E0E0E0;
  border-top: 1px solid #003399;
  border-bottom: 1px dotted #003399;
}

span.source{
  color: #003399;
  font-size: 1.3em;
  font-weight:bold;
}

span.source_name{
  color: #000;
}

td.subsection{
  padding-left:0px;
  margin-bottom: 4px;
}

h3.subsection {
  border-top: 1px solid #003399;
  background-color: #F8F8F8;
  padding: 4px;
  margin-top: 15px;
  margin-bottom: 0px;
}

h3.sub_subsection {
  background-color: #F8F8F8;
  padding: 4px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.contact_lbl {
  border: 0px;
  padding: 0px;
  font-weight: bold;
}

.contact_val {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 10px;
}

.sequence {
  font-family: monospace;
  border: 0px;
  padding: 0px;
}

.coord {
  padding: 0px;
  padding-right: 12px;
  text-align: right;
  color: #666666;
  border: 0px;
}

.showhide {
  border: 0px;
}

.partial {
  background: #FAE5AA;
}

.upstream {
  text-transform: lowercase;
  font-family: monospace;
  color: #000000;
}
.downstream {
  text-transform: lowercase;
  font-family: monospace;
  color: #000000;
}
.intron {
  font-family: monospace;
  text-transform: lowercase;
  color: #000000;
}

.intronselect {
  font-family: monospace;
  color: #000000;
  background: #68C746;
}

.exon_odd {
  font-family: monospace;
  color: #003399;
}

.exon_even {
  font-family: monospace;
  color: #000000;
}

.exon_odd_select {
  font-family: monospace;
  color: #003399;
  background: #A8FF86;
}
.exon_even_select {
  font-family: monospace;
  color: #EEE;
  background: #68C746;
}

.exontable {
  background: #ffffff;
  color: #000;
}

.introntable {
  background: #ffffff;
  color: #000;
}

.exontableselect {
  background: #A8FF86;
  color: #000;
}

.introntableselect {
  background: #68C746;
  color: #000;
}

.utr {
  font-family: monospace;
  text-transform: lowercase;
  color: #666666;
  background: #CCCCCC;
}

.startcodon {
  background: #FFFF00;
}

.stopcodon {
  background: #FF6600;
  color: white;
}

.outphase {
  font-family: monospace;
  color: white;
  background: red;
}

.exonkey {
  color: #003399;
}

.outphasekey {
  color: white;
  background: red;
}

.hardbreak {
  -moz-binding: url('./wordwrap.xml#wordwrap');
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  border: 0px;
  padding: 0px;
  width: 624px;
}

.trans_prot {
  background: #FFFFFF;
}
.trans_prot_hl {
  background: #FFFF99;
}

.oddDiv {
  background: #F8F8F8;
  margin: 5px;
}
     
.evenDiv {
  background: #FFFFFF;
  margin: 5px;
}

.hidden {
	height: 0px;
	display: none;
}

.unhidden {
	height: 100px;
	display: inline;
}

div.requester_source {
	background-color: #E0E0E0; 
	border-style: dashed; 
	border-width: 1px; 
	padding-left: 5px; 
	padding-bottom: 10px
}

div.external_source {
	background-color: #F0F0F0; 
	padding-left: 5px;
}

div.lrg_source {
	background-color: #F0F0F0; 
	padding-left: 5px;
}

div.lrg_transcript {
	background-color: #F0F0F0; 
	padding: 5px 0px;
  font-weight:bold;
  margin-bottom:2px;
}

div.fixed_transcript_annotation {
  padding-left: 5px;
  clear: both;
}
