body {
  font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif;
  font-size: 90%;
}

a {
  text-decoration: none;
  color: #48a726;
}

a:hover {
  text-decoration: underline;
}

img {
  vertical-align:middle;
  margin-right:4px;
  border:none;
}

h1 {
  display:inline;
  vertical-align:middle;
  padding:0px;
  margin:0px;
}

h2 {
  color: #48a726;
}

h3 {
  color: #003399;
}

h4 {
  color: #003399;
  font-style: italic;
}

h1.separator{
  color:#ffc600;
  margin: 0px 8px;
}

.blue{
  color: #003399;
  font-weight: bold;
}

.green{
  color: #48a726;
  font-weight: bold;
}

.red{
  color: #E00000;
  font-weight: bold;
}

.white{
  color: #FFF;
  font-weight: bold;
}

.float_left {
  float:left;
}

h3.gene_name{
  padding: 4px 5px;
  margin: 10px 6px 0px;
  background-color: #E2E2F2;
}

img.external_link {
 margin-left: 3px;
 margin-right:2px;
 vertical-align:top;
}

tr.sub_header {
  background: #0E4C87;
}

th {
  color: #FFFFFF;
  border: 1px solid #333;
  padding: 5px;
}

th.sub_other_label {
  background:#2266BB;
}

table.diff {
  margin:0px;
}

table.diff th {
  margin:0px;
  padding:1px 2px;
  border-color:#DDD;
  border-top:none;
  border-bottom:none;
}

table.diff td {
  padding:2px 4px;
  border-color:#DDD;
}

.no_border_top {
  border-top:none;
}
.no_border_bottom {
  border-bottom:none;
}
.no_border_left {
  border-left:none;
}
.no_border_right {
  border-right:none;
}

a.other_label {
	font-weight:normal;
	text-decoration: underline;
	color:#FFF;
}
a.other_label:hover {
  color:#55DD55;
}

.other_separator {
	background:#000000;
	border-color:#000000;
  width:5px;
  padding:0px;
}

table {
  font-size: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 5px;
}

td.quicklink_cell {
  border: 0px;
}

td.sequence_cell {
  border: 0px;
  vertical-align:middle;
  color:#000;
}

span.line_header {
  font-weight:bold;
  padding-right:5px;
  padding-bottom:2px;
}

div.right_side{
  float:right;
  margin-right:5px;
}

.gradient_color1 {
  /* Old browsers */
  background: #0E4C87;
  /* IE10 */ 
  background: -ms-linear-gradient(top, #1A4468 0%, #0E4C87 10%);
  /* Mozilla Firefox */ 
  background: -moz-linear-gradient(top, #1A4468 0%, #0E4C87 10%);
  /* Opera */ 
  background: -o-linear-gradient(top, #1A4468 0%, #0E4C87 10%);
  /* Webkit (Safari/Chrome 10) */ 
  background: -webkit-gradient(linear, top, bottom, color-stop(0, #1A4468), color-stop(0.1, #0E4C87));
  /* Webkit (Chrome 11+) */ 
  background: -webkit-linear-gradient(top, #1A4468 0%, #0E4C87 10%);
  /* W3C Markup, IE10 Release Preview */ 
  background: linear-gradient(to bottom, #1A4468 0%, #0E4C87 10%);
}

.gradient_color2 {
  /* Old browsers */
  background: #0E4C87;
  /* IE10 */ 
  background: -ms-linear-gradient(top, #1A4468 0%, #0E4C87 80%);
  /* Mozilla Firefox */ 
  background: -moz-linear-gradient(top, #1A4468 0%, #0E4C87 80%);
  /* Opera */ 
  background: -o-linear-gradient(top, #1A4468 0%, #0E4C87 80%);
  /* Webkit (Safari/Chrome 10) */ 
  background: -webkit-gradient(linear, top, bottom, color-stop(0, #1A4468), color-stop(0.8, #0E4C87));
  /* Webkit (Chrome 11+) */ 
  background: -webkit-linear-gradient(top, #1A4468 0%, #0E4C87 80%);
  /* W3C Markup, IE10 Release Preview */ 
  background: linear-gradient(to bottom, #1A4468 0%, #0E4C87 80%);
}

.gradient_color3 {
  /* Old browsers */
  background:#2266BB;
  /* IE10 */ 
  background: -ms-linear-gradient(top, #003399 0%, #2266BB 80%);
  /* Mozilla Firefox */ 
  background: -moz-linear-gradient(top, #003399 0%, #2266BB 80%);
  /* Opera */ 
  background: -o-linear-gradient(top, #003399 0%, #2266BB 80%);
  /* Webkit (Safari/Chrome 10) */ 
  background: -webkit-gradient(linear, top, bottom, color-stop(0, #003399), color-stop(0.8, #2266BB));
  /* Webkit (Chrome 11+) */ 
  background: -webkit-linear-gradient(top, #003399 0%, #2266BB 80%);
  /* W3C Markup, IE10 Release Preview */ 
  background: linear-gradient(to bottom, #003399 0%, #2266BB 80%);
}

div.summary{
  padding:2px;
  border-radius:5px;
  box-shadow: 2px 4px 2px #888;
}

div.summary_header {
  text-align:center;
  font-weight:bold;
  padding:2px 0px 4px;
  color:#FFF;
}

td.left_col{
  font-weight:bold;
  color:#000;
  padding:2px 4px;
  text-align:right;
  border:1px solid #FFF;
  background-color: #F9F9F9;
}
td.right_col{
  color:#000;
  padding:2px 4px;
  border:1px solid #FFF;
  background-color: #F9F9F9;
}
td.line_separator{
  border-top:2px dotted #0E4C87;
}

.new_transcript {
  cursor:help;
}
.new_transcript:after {
  content: "*";
  color: #E00000;
}

div.download_box {
  margin-top:15px;
  border-radius:5px;
  padding:6px;
  box-shadow: 2px 4px 2px #888;
}

a.green_button {
	color: #FFF;
	background-color: #48a726;
	font-weight:bold;
	padding:1px 3px;
	border-radius:5px;
	border: 1px solid #EEE;
	margin-right:5px;
	text-align:center;
	cursor:pointer;
}
a.green_button:hover{
	color: #48a726;
	background-color: #FFF;
	text-decoration: none;
	border: 1px solid #48a726;
}
a.green_button:active{
	box-shadow: 2px 2px 2px #CCC inset;
}


a.green_button2 {
	color: #FFF;
	background-color: #48a726;
	text-decoration: none;
	border: 1px solid #FFF;
	font-weight:bold;
	padding:1px 3px;
	border-radius:8px;
	margin-right:5px;
	text-align:center;
	cursor:pointer;
	box-shadow: 2px 2px 2px #888;
}
a.green_button2:hover{
	color: #48a726;
	background-color: #FFF;
	text-decoration: none;
	border: 1px solid #48a726;
}
a.green_button2:active{
	box-shadow: 2px 2px 2px #CCC inset;
}



div.left_annotation {
	float:left;
	width:30%;
	padding-left:3px;
}

div.right_annotation {
	float:right;
	width:69%;
	padding-left:0px;
}

div.transcript_mapping{
  margin:0px 6px 20px;
	padding:0px 2px 2px;
  background: #0E4C87;
}

div.sub_transcript_mapping{
  background-color:#FFF;
}


table.mapping_detail{
  background-color:#FFF;
}

td.mapping{
  padding-left:10px;
  padding-right:5px;
}

td.transcript_mapping{
  border:0px;
}

td.gene_transcript_cell {
	border:none;
  padding:2px;
}

ul{
  margin-left:20px;
  padding-left:5px;
  margin-top:2px;
  margin-bottom:8px;
  list-style-type:circle;
}

li {
  padding-bottom:2px;
}

ul.ext_id{
  margin-bottom:2px;
  list-style-type:disc;
}

ul.region{
  margin-left:35px;
  margin-top:8px;
}

span.transcript_label{
  color: #003399;
  font-weight: bold;
  font-style: italic;
}

span.translation_label{
  font-weight: bold;
  font-style: normal;
  color:#000;
}


td.quicklinks {
  border: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 10px;
}

div.banner{
  color: #FFFFFF;
  border: 1px solid #C0C0C0;
  margin-bottom:0px;
  padding-bottom:0px;
  background:url(img/gradient_back.png) repeat-x;
}

div.banner_left{
  float:left;
  padding: 10px;
}

div.banner_right{
  float:right;
  padding: 5px;
}

div.status_banner {
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 2px 5px 2px #888;
  padding:5px;
  margin-bottom:15px;
}

div.status_title {
  text-align:center;
	font-size:40pt;
	font-weight:bold;
	padding:0px;
}

.status_subtitle {
	font-style:italic;
  padding:0px;
}

div.pending {
  border-color: #F00;
  background-color: #fffcfc;
}
.pending_title {
	color:#F00;
}

div.stalled {
  border-color: #FFA500;
  background-color: #fffefc;
}
.stalled_title {
	color:#FFA500;
}


div.menu_title{
  padding:8px 0px 2px;
  background:url(img/shadow_top.png) no-repeat 50% 0%;
}

div.menu{
  margin-top:0px;
  padding-top:2px;
}

div.submenu{
  float:left;
  margin-left:10px;
  margin-right:25px;
  padding:2px;
  border:1px solid #0E4C87;
  border-radius:5px;
  box-shadow: 2px 4px 2px #888;
  background-color:#F9F9F9;/*#F9F9F9;*/
}

div.submenu_header{
  text-align:center;
  font-weight:bold;
  padding:2px 0px 4px;
  color:#FFF;
}

div.submenu_section{
  background-color: #FFF;
  border-bottom:1px dotted #0E4C87;
  padding:2px;
  margin-bottom:2px;
}

div.submenu_section a {
  vertical-align:middle;
  font-weight:bold;
 }

div.following_section{
  border-top:1px dotted #0E4C87;
}

a.menu_item {
  color: #003399;
}

div.section{
  border-top: 2px solid #003399;
  border-bottom: 1px dotted #003399;
  background-color:#FFF;
  padding: 5px 0px;
  margin-bottom:15px;
}

h2.section{
  padding: 2px;
  margin: 0px;
  vertical-align:middle;
  display:inline;
}

div.source{
  margin-left:0px;
  padding:5px 2px;
  border-top: 1px solid #003399;
  border-bottom: 1px dotted #003399;
  
  background:#D0D0D0;
  background: -ms-linear-gradient(top, #D0D0D0 25%, #E0E0E0 90%);
  /* Mozilla Firefox */ 
  background: -moz-linear-gradient(top, #D0D0D0 25%, #E0E0E0 90%);
  /* Opera */ 
  background: -o-linear-gradient(top, #D0D0D0 25%, #E0E0E0 90%);
  /* Webkit (Safari/Chrome 10) */ 
  background: -webkit-gradient(linear, top, bottom, color-stop(0.25, #D0D0D0), color-stop(0.9, #E0E0E0));
  /* Webkit (Chrome 11+) */ 
  background: -webkit-linear-gradient(top, #D0D0D0 25%, #E0E0E0 90%);
  /* W3C Markup, IE10 Release Preview */ 
  background: linear-gradient(to bottom, #D0D0D0 25%, #E0E0E0 90%);
}

span.source{
  color: #003399;
  font-size: 1.3em;
  padding-left:2px;
  font-weight:bold;
  vertical-align:middle;
}

span.source_name{
  color: #000;
}

div.other_source{
  padding:10px 0px;
  background-color:#E0E0E0;
}

span.other_source{
  color: #003399;
  font-size: 1.1em;
  padding-left:5px;
  font-weight:bold;
  vertical-align:middle;
}


div.main_subsection {
  padding: 4px;
  margin-top: 15px;
  margin-bottom: 0px;
  background-color: #E0E0E0;
}

h3.main_subsection {
  padding-left:2px;
  vertical-align:middle;
  display:inline;
}

h3.subsection {
  background-color: #E0E0E0;
  padding: 4px;
  margin-top: 15px;
  margin-bottom: 0px;
}

h3.sub_subsection {
  padding: 2px 5px;
  margin: 10px 6px 0px;
  color: #FFF;
}

td.subsection{
  padding-left:0px;
  margin-bottom: 4px;
}

a.subsection{
  font-weight:normal;
  font-size:14px;
  padding-left:6px;
  vertical-align:middle;
}

a.header_link{
  color:#FFFFFF;
}

div.mapping {
  padding-left:25px;
}

h3.mapping {
  display:inline;
}

.source_left {
  border: 0px;
  padding: 5px;
  font-weight:bold;
  font-size:1.1em;
  vertical-align:top;
  width: 100px;
}
.source_right {
  border: 0px;
  padding: 5px 0px 5px;
}

.contact_val {
  border: 0px;
  padding: 0px;
}

.sequence {
  font-family: monospace;
  border: 0px;
  padding: 0px;
}

#fasta.sequence {
  background-color:#FFF;
} 

.coord {
  padding: 0px;
  padding-right: 12px;
  text-align: right;
  color: #666666;
  border: 0px;
}

.showhide {
  border: 0px;
  padding-left:0px;
}

.partial {
  background: #FAE5AA;
}

.upstream {
  text-transform: lowercase;
  font-family: monospace;
  color: #000000;
}
.downstream {
  text-transform: lowercase;
  font-family: monospace;
  color: #000000;
}
.intron {
  font-family: monospace;
  text-transform: lowercase;
  color: #000000;
}

.intronselect {
  font-family: monospace;
  color: #000000;
  background: #68C746;
}

.exon_odd {
  font-family: monospace;
  color: #003399;
	background: #FFF;
}

.exon_even {
  font-family: monospace;
  color: #000000;
	background: #FFF;
}

.exon_odd_select {
  font-family: monospace;
  color: #003399;
  background: #A8FF86;
}
.exon_even_select {
  font-family: monospace;
  color: #FFF;
  background: #68C746;
}

.exontable {
  background: #ffffff;
  color: #000;
}

.introntable {
  background: #ffffff;
  color: #000;
}

.exontableselect {
  background: #A8FF86;
  color: #000;
}

.introntableselect {
  background: #68C746;
  color: #000;
}

.utr {
  font-family: monospace;
  text-transform: lowercase;
  background: #CCC;
}

.genomic_utr {
  background: #CCC;
}

.startcodon {
  background: #FFFF00;
}

.stopcodon {
  background: #FF6600;
  color: white;
}

.outphase {
  font-family: monospace;
  color: white;
  background: red;
}

.exonkey {
  color: #003399;
}

.outphasekey {
  color: white;
  background: red;
}

.hardbreak {
  -moz-binding: url('./wordwrap.xml#wordwrap');
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  border: 0px;
  padding: 0px;
  width: 624px;
}

.trans_prot {
  background: #FFFFFF;
}
.trans_prot_hl {
  background: #FFFF99;
}

.oddDiv {
  background: #F9F9F9;
  margin: 5px 5px 75px;
  padding-bottom: 5px;
}
     
.evenDiv {
  background: #FFFFFF;
  margin: 5px 5px 75px;
  padding-bottom: 5px;
}

.hidden {
	height: 0px;
	display: none;
}

.unhidden {
	height: auto;
	display: inline;
}

div.unhidden_content {
  background-color: #EEE;
  padding:10px 5px 10px;
  margin-bottom:15px;
}

div.meta_source {
  background: #F9F9F9;
  margin-top:20px;
}

div.requester_info {
	background-color: #F9F9F9;
	padding: 2px;
	margin-bottom:10px;
	border-radius: 5px;
	box-shadow: 2px 4px 2px #888;
}

div.requester_sources {
	background-color: #F9F9F9;
	padding: 0px;
}

div.requester_source {
	padding: 6px 2px;
}

div.requester_separator {
	border-top:2px dotted #0E4C87;
}

div.requester_header {
  font-weight:bold;
  padding:2px 5px 4px;
  color:#FFF;
  padding-left:5px;
  font-weight:bold;
  vertical-align:middle;
}

table.requester_table {
  background-color: #F9F9F9;
  width:100%;
}

div.external_source {
	background-color: #E0E0E0; 
	border: 1px dashed #0E4C87;
	padding-bottom: 10px;
}

div.lrg_source {
	background-color: #F0F0F0; 
	padding-left: 5px;
  padding-top: 2px;
}

div.lrg_transcript {
	padding: 10px 0px 4px 5px;
  text-decoration:underline;
  font-weight:bold;
  font-size:1.1em;
  margin-bottom:4px;
}

div.lrg_transcript_content {
  padding-left: 5px;
}

div.lrg_transcript_separator {
  margin:6px 0px 2px;
  border-top: 2px dotted #E0E0E0;
}

div.fixed_transcript_annotation {
  padding-left: 5px;
  clear: both;
}

div.key_left {
  float:left;
  font-weight:bold;
  margin-top:5px;
  margin-right:5px;
}

div.key_right {
  margin-bottom:20px;
  background-color:#FFF;
  border:1px solid #E0E0E0;
  border-radius:10px;
}

.key_header {
  text-align:center;
  font-weight:bold;
  padding:2px 0px;
  background-color:#E0E0E0;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:#005;
}

ul.key{
  margin-left:15px;
  margin-bottom:0px;
  padding:2px 5px;
}
li.key {
  margin-bottom:5px;
}

.legend {
	text-align:center;
	margin:2px 0px;
	border:none;
	font-size:0.9em;
}

.no_data{
  padding: 4px;
  text-align:center;
  font-weight:bold;
}

.hide_button {
  vertical-align:middle;
  border:1px solid #3f9221;
  border-radius:9px;
  padding:1px 4px 1px 20px;
  text-decoration:none;
  color:#FFF;
  position:relative;
  left:-20px;
  box-shadow:2px 2px 2px #888;
  background:url(img/top_arrow_green.png) no-repeat 4px 50%;
  background-color: #48a726;
}
.hide_button:before{
  content:'';
  float:left;
  width: 19px;
  height:17px;
}
.hide_button:hover {
  border:1px solid #003399;
  text-decoration:none;
}

.show_hide_box {
  float:left;
  margin-left:6px;
  margin-right:5px;
  vertical-align:middle;
}
.show_hide_box_text {
  float:left;
  vertical-align:middle
}

.show_hide {
  vertical-align:middle;
  border:1px solid #FAFAFA;
  border-radius:50%;
  display: block;
  width:16px;
  height:16px;
  background:url(img/plus_button_green.png) no-repeat 0 0;
}
.show_hide:hover {
  border:1px solid #48a726;
  background:url(img/plus_button_white.png) no-repeat 0 0;
}
.show_hide:active{
	box-shadow: 2px 2px 2px #CCC inset;
	background:url(img/plus_button_white.png) no-repeat 0 0;
}

.selected {
  background:url(img/minus_button_green.png) no-repeat 0 0;
}
.selected:hover {
  border:1px solid #48a726;
  background:url(img/minus_button_white.png) no-repeat 0 0;
}
.selected:active{
  box-shadow: 2px 2px 2px #CCC inset;
}

.show_hide_anno {
  vertical-align:middle;
  border:1px solid #3f9221;
  border-radius:9px;
  padding:2px 4px 2px 2px;
  left:400px;
  position:absolute;
  text-decoration:none;
  color:#FFF;
  box-shadow:2px 2px 2px #888;
  background:url(img/plus_button_white.png) no-repeat 4px 50%;
  background-color: #48a726;
}
.show_hide_anno:before{
  content:'';
  float:left;
  width: 22px;
  height:18px;
}
.show_hide_anno:hover {
  border:1px solid #48a726;
  text-decoration:none;
  color: #48a726;
  background:url(img/plus_button_green.png) no-repeat 4px 50%;
  background-color: #FFF;
}
.show_hide_anno:active{
	box-shadow: 2px 2px 2px #CCC inset;
}
.selected_anno {
  background:url(img/minus_button_white.png) no-repeat 4px 50%;
  background-color: #48a726;
}
.selected_anno:hover {
  background:url(img/minus_button_green.png) no-repeat 4px 50%;
  background-color: #FFF;
}
.selected_anno:active{
  box-shadow: 2px 2px 2px #CCC inset;
}

div.top_up_anno_link {
  float:right;
  padding:0px 4px 4px;
  font-size:0.9em;
  background-color:#F9F9F9;
}

div.help_box {
  padding: 2px 4px;
  border: 1px solid #48a726;
  border-radius:5px;
  position:absolute;
  margin-left:-20px;
  background-color:#FFF;
  z-index:100;
}

div.footer {
  padding-top:20px;
  background-color: #403c37;
}

.bottom_radius_5 {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px;
}

