img {
  vertical-align:middle;
  margin-right:4px;
  border:none;
}

p { margin: 8px 0px; }

li {
  padding-bottom:2px;
  padding-right:5px;
}

table {
  font-size: 100%;
  border-collapse: collapse;
}

ul.ext_id {
  margin:0px;
  padding-left:18px;
  list-style-type:disc;
}

ul.region{
  margin-left:35px;
  margin-top:8px;
}

a.icon-external-link {
  white-space:nowrap;
}

.nowrap {
  white-space:nowrap;
}

.label {
  padding: .2em .5em .2em;
  font-weight: normal;
  vertical-align:baseline;
}

.red {
  color: #E00000;
  font-weight: bold;
}

.bold_font { font-weight: bold; }

.small-font { font-size:12px; }

.dotted_underline { border-bottom: 1px dotted #555; }

.line_header {
  font-weight:bold;
  padding-right:8px;
  padding-bottom:2px;
}

.lrg_left_arrow {
  width:40px;
  text-align:center;
}

.new_transcript { cursor:help; }
.new_transcript:after {
  content: "*";
  margin-left: 2px;
  color: #E00000;
}

.valign_bottom { vertical-align:bottom; }

.showhide {
  border: 0px;
  padding: 5px;
}

.text_left  { text-align: left;  }
.text_right { text-align: right; }


/** Comment icon colours **/

.info_colour { color: #00D; }
.info_colour_red { color: #D00; }
.warning_colour { color: #FFA500; }
.ok_colour { color: #78BE43; }


/** Table style **/

th { text-align:center; }

th.sub_other_label {
  color: #FFF;
  background-color:#2266BB;
}

.table>thead>tr>th.current_assembly_col {
  border-bottom: 3px solid #78BE43;
}

.table>thead>tr>th.previous_assembly_col {
  border-bottom: 3px solid #ba8ec6;
}

.table>thead>tr>th.lrg_col {
  border-bottom: 3px solid #1C9BCF;
}

.table>thead>tr>th.default_col {
  border-bottom: 2px solid #78BE43;
}

.table>thead>tr>th.common_col {
  border-bottom: 3px solid #BCBEC0;
}

table.genomic_mapping {
  margin-top:-5px;
  margin-bottom:50px;
  border-bottom:0px;
}

td.left_label {
  font-size:16px;
  vertical-align:middle;
  background-color:#E0E0E0;
  padding:2px 4px;
}

tr.trans_prot_hl {
  background-color:#CAE1FF;
}

/** Table cell display **/

td.left_col {
  font-weight:bold;
  padding:2px 4px;
  text-align:right;
  width:185px;
}
td.right_col {
  padding:2px 4px;
  width: 250px;
}

td.right_col_fixed_width   { width:120px; }
td.right_col_fixed_width_2 { width:300px; }


/** Table no border **/

.no_border        { border:none; }
.no_border_top    { border-top:none; }
.no_border_bottom { border-bottom:none; }
.no_border_left   { border-left:none; }
.no_border_right  { border-right:none; }

table.no_border>tbody>tr>td {
  padding: 0px 4px 6px;
}


/** Bordered table **/

table.bordered {
  border: 1px solid #DDD;
  background-color: #FFF;
  width: auto;
}

table.bordered>thead>tr>th.other_separator {
  background:#3C3F45;
  border-top:none;
  border-bottom:none;
  border-left: 1px solid #DDD;
  width:4px;
  padding:0px;
}

table.bordered>tbody>tr>td.other_separator {
  background:#DDD;
  border: none;
  width:4px;
  padding:0px;
}

.table>tbody>tr>td.border_left {
  border-left: 1px solid #DDD;
}

.table>tbody>tr>td.border_right {
  border-right: 1px solid #DDD;
}


/** Summary table **/

table.summary { border:none; }
table.summary>tbody>tr>td {
  padding: 6px 10px;
  border:none;
  line-height:14px;
}
table.summary>tbody>tr>td:not(:first-child) {
  border-left: 1px solid #DDD;
}

table.lrg-diff { margin:0px; }


/** Diff table **/

table.lrg-diff>thead>tr>th {
  margin:0px;
  padding:1px 2px;
  border-right:1px solid #DDD;
  border-top:none;
  border-bottom:none;
  border-left:none;
}

table.lrg-diff>tbody>tr>td {
  padding:2px 4px;
  border-color:#DDD;
  vertical-align:middle;
}

.label-reference { background-color: #78BE43; }


/** Top banner **/

.logo_div {
  padding-top:5px;
}
.logo_div > a > img {
  margin-right:0px; 
}

@media (min-width: 900px) {
  .text_header_center > div {
    padding-top:4px;
    padding-left:20px;
  }
  .text_header_center_top_size {
    font-size: 45px;
  }
  .text_header_center_bottom_size {
    font-size: 30px;
  }

}
@media (max-width: 899px) {
  .text_header_center > div {
    padding-top:8px;
    padding-left:0px;
  }
  .text_header_center_top_size {
    font-size: 38px;
  }
  .text_header_center_bottom_size {
    font-size: 26px;
  }
}

.text_header_center {
  color: #FFF;
  text-align:left;
  white-space:nowrap;
}
.text_header_center > div {
  vertical-align:baseline;
}


/** Icons menu in the banner **/

.top_menu_icons {
  line-height:20px;
}
div.top_menu_icons>div:not(:last-child) {
  padding-bottom:1px;
}

div.top_icon {
  font-size:14px;
  text-align:left;
}
div.top_icon a { color: #FFF; }
div.top_icon1 a:before { color: #1C9BCF; }
div.top_icon2 a:before { color: #78BE43; }
div.top_icon a:hover, div.top_icon a:active, div.top_icon a:hover:before {
  color: #78BE43;
}


/** Top left page content **/

div.menu {
  padding-top:10px;
  margin-bottom:50px;
  min-width:1024px;
}

div.left_side {
  float:left;
  margin-left:5px;
}

.section_box { 
  padding: 0px;
}
.subsection_box {
  margin: 10px 0px 15px;
  border-left: 3px solid;
  border-right: 3px solid;
  border-bottom: 3px solid;
}
.subsection_box1 {
  border-color: #1C9BCF;
}

.section-box-title {
  text-align: center;
  color: #FFF;
  margin: 0px;
  background-color: #3C3F45;
  border-bottom: 3px solid #1C9BCF;
}

.section_content {
  padding: 8px;
  background-color: #F9F9F9;
}
.section_content_summary {
  padding: 4px;
  background-color: #F9F9F9;
}

.section_content_top_content {
  font-size:18px;
}
.section_content_top_content > div {
  padding:6px 0px 12px;
}

.info_box {
  background-color:#EEE;
}
.info_box_title {
  background-color:#E0E0E0;
}
.info_box_title_left {
  padding:8px 0px 8px 8px;
  background-color:#3C3F45;
  color:#FFF;
}
.info_box_title_right {
  padding:8px;
}
.info_box_content {
  padding:0px 8px 8px;
}
.info_box_content > ul {
  margin: 10px 0px;
}

.seq_count {
  background-color: #E0E0E0;
  color: #333;
  font-size:14px;
}



/** LRG buttons **/

.btn-lrg {
	color: #FFF;
	padding:0px 4px;
	margin-right:5px;
	white-space:nowrap;
	vertical-align:middle;
}
.btn-lrg-normal { height:24px; }
.btn-lrg-small {
  font-size:12px;
  line-height:1.5;
}
.btn-lrg:hover, .btn-lrg:active, .btn-lrg:visited {
	color: #9051A0;
	background-color: #FFF;
	text-decoration: none;
	border-color: #9051A0;
}
.btn-lrg:focus {
  outline: none;
  background-color: #9051A0;
	border-color: #FFF;
	color: #FFF;
	text-decoration: none;
}
.btn-lrg span,.btn-lrg-small span {
  vertical-align:baseline;
  padding:0px 2px;
}

/** Blue **/
.btn-lrg1 { background-color: #1C9BCF; }
/** Green **/
.btn-lrg2 { background-color: #78BE43; }
/** Purple **/
.btn-lrg3 { background-color: #9051A0; }


/** Glyphicon colouring **/

.dark_button_0 {
  color: #3C3F45;
  margin-right: 0px;
}
.dark_button_4 {
  color: #3C3F45;
  margin-right: 4px;
}

.green_button_0 {
  color: #78BE43;
  margin-right: 0px;
}
.green_button_2 {
  color: #78BE43;
  margin-right: 2px;
}
.green_button_4 {
  color: #78BE43;
  margin-right: 4px;
}

.blue_button_0 {
  color: #1C9BCF;
  margin-right: 0px;
}
.blue_button_2 {
  color: #1C9BCF;
  margin-right: 2px;
}
.blue_button_4 {
  color: #1C9BCF;
  margin-right: 4px;
}


/** Annotation set **/

.annotation_set {
  margin-bottom: 75px;
  padding:0px 5px;
}

.annotation_set_sub_section {
  padding: 8px 5px;
  line-height: 24px;
}

div.left_annotation {
	float:left;
	width:30%;
	padding-left:3px;
}

div.right_annotation {
	float:right;
	width:69%;
	padding-left:0px;
}


/** Section annotation **/

.section_annotation {
  background-color: #3C3F45;
  padding: 5px 5px 5px 0px;
  margin-bottom:0px;
}

.section_annotation1 {
  border-color: #1C9BCF !important;
}
.section_annotation2 {
  border-color: #78BE43 !important;
}

.section_annotation h2 {
  padding: 0px;
  margin: 0px;
  color: #FFF;
}

.section_annotation_desc {
  font-size:14px;
  margin-left:20px;
  margin-top:20px;
  color:#FFF;
}
.section_annotation_icon {
  padding:5px 12px !important;
  margin: -5px 0px !important;
}
.section_annotation_icon1 {
  background-color: #1C9BCF;
}
.section_annotation_icon2 {
  background-color: #78BE43;
}
.section_annotation_icon_top {
  padding:5px 5px 5px 12px !important;
  margin: -5px 0px !important;
}
.section_annotation_content {
  padding:5px 0px 10px 4px;
  border-left:6px solid;
}
.section_annotation_content1 {
  border-color: #1C9BCF;
}
.section_annotation_content2 {
  border-color: #78BE43;
}

.section_anno_menu>div {
  background-color: #3C3F45;
}
.section_anno_menu h4 {
  padding: 0px 8px;
  margin: 0px;
  color: #FFF;
  font-weight: normal;
}
.section_anno_menu {
  color: #FFF;
  text-decoration: none;
}
.section_anno_menu:hover>div>div:first-child>h4, .section_anno_menu:active>div>div:first-child>h4 {
  background-color: #9051A0;
}

a.section_anno_h_menu>span:first-child {
  padding: 2px 6px 1px;
}
a.section_anno_h_menu>span:last-child {
  padding-left:4px;
  
}
a.section_anno_h_menu:hover>span:first-child {
  color: #FFF;
}


/** Sub section **/

div.main_subsection {
  margin-left:0px;
  margin-top:25px;
  padding: 6px 10px;
  background-color: #3C3F45;
  vertical-align:baseline;
  font-size:22px;
  border-bottom: 3px solid;
}
div.main_subsection1 {
  color: #1C9BCF;
  border-color: #1C9BCF;
}
div.main_subsection2 {
  color: #78BE43;
  border-color: #78BE43;
}

span.main_subsection {
  vertical-align:baseline;
  display:inline;
  color: #FFF;
}

span.main_subsection_desc {
  font-size:14px;
  color:#FFF;
  margin-left:20px;
  vertical-align:baseline;
}

h3.subsection {
  background-color: #E0E0E0;
  padding: 2px 10px;
  margin-top: 25px;
  margin-bottom: 5px;
  border-bottom: 2px solid;
}

h3.subsection1 {
  color: #1C9BCF;
  border-color: #1C9BCF;
}
h3.subsection2 {
  color: #78BE43;
  border-color: #78BE43;
}

h3.subsection span.subsection {
  color: #3C3F45;
}

h3.subsection span.subsection_label {
  margin-left:25px;
  font-size:16px;
}

h3.sub_subsection {
  padding: 2px 5px;
  margin: 10px 6px 0px;
  color: #FFF;
  background-color: #3C3F45;
}


/** Mappings **/

div.tr_mapping {
  margin:0px 6px 20px;
	padding:0px 2px 2px;
	border:1px solid #3C3F45;
}

div.sub_tr_mapping {
  background-color:#FFF;
}


#ensembl_links>div {
  padding-left:5px;
  margin-top:20px;
}


div.genomic_mapping { 
  padding:25px 5px 5px 10px;
}

.region_cover       { margin-left: 25px; }
.region_cover > div { padding: 6px 4px;  }

.region_coords { font-size: 1.1em; }

td.mapping{
  padding-left:10px;
  padding-right:5px;
}

td.tr_mapping { border:none; }

span.translation_label {
  font-weight: bold;
  font-style: normal;
  color:#000;
}

div.mapping_header {
  vertical-align:baseline;
  margin-bottom: 8px;
  background-color: #E0E0E0;
}

div.mapping_header div {
  float:left;
  vertical-align:baseline;
  padding: 1px 8px;
  line-height:30px;
}

div.mapping_header div:first-child {
  background-color:#FFF;
  border: 1px solid #E0E0E0;
  line-height:28px;
}

div.mapping_header div.separator {
  float:left;
  vertical-align:baseline;
  padding:16px 4px;
  background-color:#FFF;
}

div.mapping_header h4 { margin:0px; }

div.mapping { padding-left:25px; }


/** Page Banner **/

div.status_banner {
  padding:0px;
  border-bottom:1px solid #FFF
}

div.data_container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

div.status_title {
  text-align:center;
	padding: 3px 5px;
	color:#FFF;
	height:50px;
	position:relative;
}
div.status_title > div:first-child {
  font-size:24px;
	font-weight:bold;
	text-align:center;
	margin-bottom:4px;
}
div.status_title > div::nth-child(2) {
	text-align:center;
}
div.status_title_bottom {
	padding: 4px 5px;
	color:#FFF;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	margin-left:-15px;
	margin-right:-15px;
}

.status_progress {
  position:absolute;
  top:13px;
  right:30px;
}


/** Search box **/

.search_record_title {
  color:#FFF;
  line-height:30px;
  vertical-align:middle;
}

.search_record_button {
  line-height:30px;
}
.btn-search-record {
  border-color:#1C9BCF !important;
  background-color:#1C9BCF !important;
  color:#FFF !important;
  text-shadow:none !important;
}
.btn-search-record:hover {
  border-color:#9051A0 !important;
  background-color:#9051A0 !important;
}
.btn-search-record-text {
  text-decoration:none !important;
}
.btn-search-record-text:hover {
  color:#9051A0 !important;
}


/** Source **/

div.other_source {
  padding:10px 0px;
}

span.other_source{
  color: #3C3F45;
  font-size: 1.1em;
  padding-left:5px;
  font-weight:bold;
  vertical-align:middle;
}
span.source_name {
  color:#1C9BCF;
  padding-left: 10px;
}

.source_left {
  border: 0px;
  padding: 5px;
  font-weight:bold;
  font-size:1.1em;
  vertical-align:top;
  width: 100px;
}
.source_right {
  border: 0px;
  padding: 5px 0px 5px;
}


/** Requesters **/

.contact_h_separator {
  padding:0px 10px;
}


/** Note **/

.note {
  margin: 20px 15px 0px;
  background-color:#FFF;
}
.note_title {
  color:#FFF;
  font-size:16px;
  border-bottom:3px solid #600;
  background-color: #A00;
  padding: 4px 8px;
  font-weight: bold;
}
.note_content {
  padding:5px 8px;
  border-left: 1px solid #A55;
  border-right: 1px solid #A55;
  border-bottom: 1px solid #A55;
}


/** Sequence display **/

.partial {
  background: #FAE5AA;
}

.upstream {
  text-transform: lowercase;
  font-family: monospace;
  color: #888;
}
.downstream {
  text-transform: lowercase;
  font-family: monospace;
  color: #888;
}
.intron {
  font-family: monospace;
  text-transform: lowercase;
  color: #888;
}

.intronselect {
  font-family: monospace;
  color: #888;
  background: #68C746;
}

.exon_genomic {
  font-family: monospace;
  font-weight: bold;
  color: #0E4C87;
  background: #FFF;
}

.exon_odd {
  font-family: monospace;
  color: #6495ED;
  background: #FFF;
}

.exon_even {
  font-family: monospace;
  color: #00A;
  background: #FFF;
}

.exon_odd_select {
  font-family: monospace;
  background: #6495ED;
}
.exon_even_select {
  font-family: monospace;
  background: #CAE1FF;
}

.exontable, .introntable {
  background: #FFF;
}

.exontableselect {
  background: #CAE1FF;
}

.introntableselect {
  background: #6495ED;
}

.utr {
  font-family: monospace;
  text-transform: lowercase;
  color: #5F021F;
}

.genomic_utr { color: #5F021F; }

.startcodon {
  color: #000;
  background: #FF0;
}

.stopcodon {
  background: #FF6600;
  color: white;
}

.outphase {
  font-family: monospace;
  color: white;
  background: red;
}

.exonkey {
  color: #0E4C87;
}

.outphasekey {
  color: white;
  background: red;
}

.sequence {
  font-family: monospace;
  border: 0px;
  padding: 0px;
}

.sequence_raw {
  width:668px;
  font-size:14px;
  line-height: 1.2;
  letter-spacing:0.5px;
}

.fasta_link {
  border:1px solid #DDD;
  background-color:#FFF;
  padding:4px 6px;
  vertical-align:middle;
}

.hardbreak {
  /*-moz-binding: url('./wordwrap.xml#wordwrap');*/
  word-wrap: break-word; /** Internet Explorer 5.5+ **/
  border: 0px;
  padding: 2px;
  width: 672px;
  background-color: #FFF;
  margin-bottom:5px;
}


/** Section content **/

.section_div {
  background: #F9F9F9;
  margin: 5px 5px 75px;
}

div.line_content {
  padding: 2px 0px;
}

div.unhidden_content {
  background-color: #EEE;
  padding:10px 5px 10px;
  margin-bottom:15px;
}


/** Source **/

div.meta_source {
  background: #F9F9F9;
  margin-top:20px;
}

div.external_source {
	background-color: #FFF; 
	border: 1px solid #DDD;
	padding-bottom: 10px;
	margin:10px 5px 0px;
}

div.lrg_source {
	background-color: #F0F0F0;
	margin: 0px -5px;
	padding-left: 5px;
  padding-top: 2px;
}


/** LRG genomic/transcript **/

div.lrg_transcript {
  margin:0px 5px;
}

.lrg_transcript_button {
  padding:6px 6px 6px 15px;
  color: #0E4C87;
  font-weight: bold;
}
.lrg_transcript_length {
  background-color: #E0E0E0;
  color: #333;
  margin-left:10px;
}

table.lrg_table_content  {
  margin-left: 4px;
  border:none;
  width: 100%;
}
table.lrg_table_content td {
  padding : 3px 4px;
  vertical-align: top;
  border: none;
}

table.lrg_genomic_content>tbody>tr>td:first-child {
  width:205px;
}
table.lrg_transcript_content>tbody>tr>td:first-child {
  width:160px;
}
table.lrg_transcript_content>tbody>tr>td {
  padding: 4px;
}

table.gene_annotation>tbody>tr {
  border-bottom:1px solid #EEE;
}
table.gene_annotation>tbody>tr>td {
  padding:4px;
}

div.gene_annotation {
  border-left: 8px solid #E0E0E0;
  margin-top: -5px;
  padding-top: 5px;
}

.lrg_current_assembly_color {
  color: #78BE43 !important;
}  
.lrg_current_assembly {
  color: #78BE43;
  border-bottom: 2px solid #78BE43;
}

.lrg_previous_assembly_color {
  color: #9051A0 !important;
}  
.lrg_previous_assembly {
  color: #9051A0;
  border-bottom: 2px solid #9051A0;
}

.lrg_light_purple {
  color: #BA8EC6;
}

.lrg_white {
  color:#FFF;
}

div.lrg_transcript_separator {
  margin:10px 0px 2px;
  border-top: 2px dotted #BCBEC0;
}

div.fixed_transcript_annotation {
  padding-left: 5px;
  clear: both;
}


/** Sequence info **/

div.seq_info_box_container {
  padding-left:5px;
  margin-bottom:10px;
}
div.seq_info_box {
  margin-bottom:20px;
  background-color:#FFF;
  border:1px solid #E0E0E0;
}

.seq_info_header {
  text-align:left;
  font-weight:bold;
  padding:0px;
  background-color:#E0E0E0;
  color:#FFF;
}
.seq_info_header>div{
  padding:4px 6px;
  line-height:15px;
  vertical-align:middle;
}

ul.seq_info{
  margin-top:5px;
  margin-left:20px;
  margin-bottom:0px;
  padding:2px 5px;
}

ul.seq_info > li {
  margin-bottom:5px;
}

.info_header {
  text-align:left;
  border:1px solid #DDD;
  padding:0px;
  background-color:#FFF;
  color:#FFF;
  margin-left:15px;
  
}
.info_header>div{
  padding:6px 8px;
  line-height:15px;
  vertical-align:middle;
}

.sequence_padding {
  padding: 1px 2px;
}

.legend {
	text-align:center;
	margin:2px 0px;
	border:none;
	font-size:0.9em;
}

.no_data {
  padding: 4px;
  text-align:center;
  font-weight:bold;
}

.show_hide_button {
  text-decoration: none;
  cursor:pointer;
}
.show_hide_button:hover, 
.show_hide_button:active, .show_hide_button:focus,
.show_hide_button span:hover, .show_hide_button span:active, 
.show_hide_button span:focus {
  color: #9051A0;
  text-decoration: none;
}

.show_hide_anno {
  position:absolute;
  left:450px;
}

div.top_upd_anno_link {
  padding:3px 4px;
  background-color:#E0E0E0;
  font-size:0.9em;
  text-align:right;
  margin-left:-5px;
  margin-top:5px;
}

.hgvs > span { vertical-align:middle; }

.vep_icon {
  height:18px;
  width:36px;
  display:inline-block;
  background:url(img/vep_icon.png) no-repeat 50% 50%;
  border:1px solid #369;
  border-radius:4px;
  vertical-align:middle;
  margin-left:10px;
}
.vep_icon:hover {
  border:1px solid #9051A0;
}
.vep_icon:active {
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}


/** Download **/

.download_header {
  color:#FFF;
  background-color:#F9F9F9;
  margin-top:10px;
  padding:0px;
  text-align:left;
  line-height: 22px;
  font-size:18px;
  vertical-align:baseline;
}
.download_header > div {
  padding: 4px 6px;
  vertical-align: middle;
}
.download_label {
  color:#000;
}
.download_link {
  text-align:center;
  color:#1C9BCF;
}
.download_link > span {
  color:#000;
}
.download_link:hover {
  color: #9051A0;
}
.download_link:hover > span {
  text-decoration:underline;
  text-decoration-color: #9051A0;
}



/** Transcript image **/

.transcript_image_block {
  white-space: nowrap;
}

.transcript_image_container {
  margin:15px;
  background-color:#FFF;
  border: 1px solid #CCC;
  display:inline-block;
  vertical-align:top;
  white-space: nowrap;
}

.transcript_image_label_container_left {
  margin:15px -19px 15px 10px;
  border-top: 1px solid #CCC;
  display:inline-block;
  vertical-align:top;
}
.transcript_image_label_container_right {
  margin:15px 10px 15px -19px;
  border-top: 1px solid #CCC;
  display:inline-block;
  vertical-align:top;
  white-space: normal;
}

.transcript_image_label {
  line-height:29px;
  margin:5px 0px;
  padding:0px 10px;
  vertical-align:middle;
  font-weight:bold;
  border-bottom: 1px solid #CCC;
}

.transcript_image_label_even {
  background-color:#FFF;
}

.transcript_image {
  position:relative;
  height:30px;
  margin:5px;
}

.intron_line {
  position:absolute;
  left:1px;
  top:14px;
  height:2px;
  z-index:1;
  background-color:rgba(50,50,50, 0.5); /** Grey **/
}
.intron_line_gap {
  position:absolute;
  left:1px;
  top:14px;
  height:0px;
  border-top: 2px dotted rgba(50,50,50, 0.5); /** Grey **/
  z-index:1;
}

.exon_block {
  float:left;
  z-index:10;
  margin:0px;
  padding:0px;
  cursor:pointer;
}

.exon_block_large {
  height:28px;
  position:absolute;
  top:1px;
}

.exon_block_medium {
  height:28px;
}

.exon_block_small {
  height:20px;
  margin-top:4px;
}

.exon_block_coding {
  background-color: #1C9BCF;
}
.exon_block_coding_enst {
  background-color: #78BE43;
  cursor:default;
}
.exon_block_non_coding_5_prime {
  border-left:1px solid #1C9BCF;
  border-top:1px solid #1C9BCF;
  border-bottom:1px solid #1C9BCF;
  background-color:#FFF;
}
.exon_block_non_coding_5_prime_enst {
  border-left:1px solid #78BE43;
  border-top:1px solid #78BE43;
  border-bottom:1px solid #78BE43;
  background-color:#FFF;
  cursor:default;
}
.exon_block_non_coding_3_prime {
  border-right:1px solid #1C9BCF;
  border-top:1px solid #1C9BCF;
  border-bottom:1px solid #1C9BCF;
  background-color:#FFF;
}
.exon_block_non_coding_3_prime_enst {
  border-right:1px solid #78BE43;
  border-top:1px solid #78BE43;
  border-bottom:1px solid #78BE43;
  background-color:#FFF;
  cursor:default;
}
.exon_block_non_coding {
  border: 1px solid #1C9BCF;
  background-color:#FFF;
}
.exon_block_non_coding_enst {
  border: 1px solid #78BE43;
  background-color:#FFF;
  cursor:default;
}

.exon_block_coding:hover,
.exon_block_large:hover > .exon_block_coding {
  background-color: #00D;
}
.exon_block_non_coding:hover,
.exon_block_large:hover > .exon_block_non_coding_5_prime, 
.exon_block_large:hover > .exon_block_non_coding_3_prime {
  border-color: #00D;
}

.exon_block_coding_enst:hover,
.exon_block_large:hover > .exon_block_coding_enst {
  background-color: #0D0;
  cursor:default;
}
.exon_block_non_coding_enst:hover,
.exon_block_large:hover > .exon_block_non_coding_5_prime_enst, 
.exon_block_large:hover > .exon_block_non_coding_3_prime_enst {
  border-color: #0D0;
  cursor:default;
}

.selected_exon_block_coding {
  background-color: #00D;
}
.selected_exon_block_non_coding_5_prime {
  border-left:1px solid #00D;
  border-top:1px solid #00D;
  border-bottom:1px solid #00D;
  background-color:#FFF;
}
.selected_exon_block_non_coding_3_prime {
  border-right:1px solid #00D;
  border-top:1px solid #00D;
  border-bottom:1px solid #00D;
  background-color:#FFF;
}
.selected_exon_block_non_coding {
  border: 1px solid #00D;
  background-color:#FFF;
}

.selected_exon_block_coding:hover,
.exon_block_large:hover > .selected_exon_block_coding {
  background-color: #87adf1;
}
.selected_exon_block_non_coding:hover,
.exon_block_large:hover > .selected_exon_block_non_coding_5_prime, 
.exon_block_large:hover > .selected_exon_block_non_coding_3_prime {
  border-color: #87adf1;
}

.transcript_legend_container {
  position:relative;
  margin:5px;
  height:9px;
  border-left: 1px solid #000;
  border-right:1px solid #000;
}
.transcript_legend {
  background-color:#FFF;
  z-index:10;
  height:9px;
  position:absolute;
  top:0px;
}
.transcript_legend_ruler {
  border-top:1px solid #000;
  position:relative;
  top:4px;
}
.transcript_legend_vbar {
  padding:0px;
  border-left:1px solid #000;
}
.transcript_legend_text {
  font-size:10px;
  color:#000;
  padding:0px 2px;
}
.transcript_arrow {
  font-size:11px;
  position:relative;
  top:-2px;
  z-index:15;
}
.transcript_legend_ruler_gap {
  border-top:1px dotted #000;
  position:relative;
  top:4px;
}
.transcript_sublegend_container {
  text-align:center;
  margin:0px 5px;
}

ul.tr_tooltip {
  padding-left:15px;
  text-align:left;
  margin:2px 0px;
}

ul.tr_tooltip > li {
  line-height:1;
}


/** Genoverse **/
.genoverse_button_line {
   margin:15px 0px 10px;
}

