img {
  vertical-align:middle;
  margin-right:4px;
  border:none;
}

p {
  margin: 8px 0px;
}

/*.blue{
  color: #0E4C87;
  font-weight: bold;
}

.green{
  color: #48a726;
  font-weight: bold;
}*/

li {
  padding-bottom:2px;
  padding-right:5px;
}

ul.ext_id{
  margin-bottom:2px;
  list-style-type:disc;
}

ul.region{
  margin-left:35px;
  margin-top:8px;
}

.label {
  padding: .2em .5em .2em;
  font-weight: normal;
  vertical-align:baseline;
}

.red {
  color: #E00000;
  font-weight: bold;
}


.white {
  color: #FFF;
}

.black {
  color: #000;
}

.bold_font {
  font-weight: bold;
}

.info_colour {
  color: #00D;
}

.warning_colour {
  color: #FFA500;
}

.ok_colour {
  color: #78BE43;
}

.dotted_underline {
  border-bottom: 1px dotted #555;
}


table {
  font-size: 100%;
  border-collapse: collapse;
}

/* Table header */

th {
  text-align:center;
}

th.sub_other_label {
  color: #FFF;
  background-color:#2266BB;
}

.table>thead>tr>th.current_assembly_col {
  border-bottom: 3px solid #78BE43;
}

.table>thead>tr>th.previous_assembly_col {
  border-bottom: 3px solid #ba8ec6;
}

.table>thead>tr>th.lrg_col {
  border-bottom: 3px solid #1C9BCF;
}

.table>thead>tr>th.default_col {
  border-bottom: 2px solid #78BE43;
}

.table>thead>tr>th.common_col {
  border-bottom: 3px solid #BCBEC0;
}

.table>tbody>tr>td.border_left {
  border-left: 1px solid #DDD;
}

.table>tbody>tr>td.border_right {
  border-right: 1px solid #DDD;
}

/* Table no border */

.no_border {
  border:none;
}
.no_border_top {
  border-top:none;
}
.no_border_bottom {
  border-bottom:none;
}
.no_border_left {
  border-left:none;
}
.no_border_right {
  border-right:none;
}

table.no_border>tbody>tr>td {
  padding: 0px 4px 6px;
}

/* Bordered table */
table.bordered {
  border: 1px solid #DDD;
  background-color: #FFF;
  width: auto;
}

table.bordered>thead>tr>th.other_separator {
  background:#3C3F45;
  border-top:none;
  border-bottom:none;
  border-left: 1px solid #DDD;
  width:4px;
  padding:0px;
}

table.bordered>tbody>tr>td.other_separator {
  background:#DDD;
  border: none;
  width:4px;
  padding:0px;
}

/* Summary table */
table.summary {
  border:none;
}
table.summary>tbody>tr>td {
  padding: 6px;
  border:none;
}
table.summary>tbody>tr>td.line_separator{
  height:0px;
  border-top:1px solid #1C9BCF;/*#0E4C87;*/
  padding:0px;
}
table.summary>tbody>tr>td.line_separator_top{
  height:4px;
  border-top:3px solid #1C9BCF;/*#0E4C87;*/
  padding:0px;
}
table.lrg-diff {
  margin:0px;
}

table.lrg-diff>thead>tr>th {
  margin:0px;
  padding:1px 2px;
  border-right:1px solid #DDD;
  border-top:none;
  border-bottom:none;
  border-left:none;
  /*background-color: #9051A0;*//*#BCBEC0;*/
}

table.lrg-diff>tbody>tr>td {
  padding:2px 4px;
  border-color:#DDD;
  vertical-align:middle;
}

.label-reference {
  background-color: #78BE43;
}

#top_menu_icons {
  position:absolute;
  bottom:0px;
  right:0px;
}
  
/* Icon in the banner */
@media (min-width: 1150px) {
  div.top_icon {
    font-size:16px;
    line-height:18px;
    text-align:center;
    padding-left:12px;
  }
}

@media (min-width: 1000px) and (max-width: 1149px) {
  div.top_icon {
    font-size:12px;
    line-height:14px;
    text-align:center;
    padding-left:6px;
  }
}

@media (max-width: 999px) {
  div.top_icon {
    font-size:12px;
    line-height:14px;
    text-align:center;
    padding-left:6px;
  }
  div.top_icon>a>span:first-child:before {
    content: "";
  }
  div.top_icon>a>span:first-child {
    padding: 0px 1px;
  }
}

div.top_icon a {
  color: #FFF;
}
div.top_icon1 a:before {
  color: #1C9BCF;
}
div.top_icon2 a:before {
  color: #78BE43;
}
div.top_icon a:hover, div.top_icon a:active, div.top_icon a:hover:before {
  color: #78BE43;
}

.trans_prot_hl {
  background-color: #FFFF99;
}

span.line_header {
  font-weight:bold;
  padding-right:8px;
  padding-bottom:2px;
}

div.left_side {
  float:left;
  margin-left:5px;
}

.section_box {
  float:left;
  padding: 0px;
}

.section-box-title {
  text-align: center;
  color: #FFF;
  margin: 0px;
  background-color: #3C3F45;
  border-bottom: 3px solid #1C9BCF;
}

.section_content {
  padding: 4px 0px;
  background-color: #F9F9F9;
}

td.left_col {
  font-weight:bold;
  padding:2px 4px;
  text-align:right;
  width:185px;
}
td.right_col {
  padding:2px 4px;
}

td.right_col_fixed_width {
  width:120px;
}
td.right_col_fixed_width_2 {
  width:300px;
}

.lrg_left_arrow {
  width:20px;
  text-align:center;
}

.new_transcript {
  cursor:help;
}
.new_transcript:after {
  content: "*";
  margin-left: 2px;
  color: #E00000;
}

/* LRG buttons */
.btn-lrg {
	color: #FFF;
	padding:0px 4px;
	margin-right:5px;
	white-space:nowrap;
	vertical-align:middle;
	height:24px;
}
.btn-lrg:hover, .btn-lrg:active, .btn-lrg:visited {
	color: #9051A0;/*#48a726;*/
	background-color: #FFF;
	text-decoration: none;
	border-color: #9051A0;/*#48a726;*/
}
.btn-lrg:focus {
  outline: none;
  background-color: #9051A0;/*#48a726;*/
	border-color: #FFF;
	color: #FFF;
	text-decoration: none;
}
.btn-lrg span {
  vertical-align:baseline;
  padding:0px 2px;
}

/* Blue */
.btn-lrg1 {
 background-color: #1C9BCF;
}
/* Green */
.btn-lrg2 {
	background-color: #78BE43;
}


/* Glyphicon colouring */
.green_button_0 {
  color: #78BE43;
  margin-right: 0px;
}
.green_button_2 {
  color: #78BE43;
  margin-right: 2px;
}
.green_button_4 {
  color: #78BE43;
  margin-right: 4px;
}

.blue_button_0 {
  color: #1C9BCF;
  margin-right: 0px;
}
.blue_button_2 {
  color: #1C9BCF;
  margin-right: 2px;
}
.blue_button_4 {
  color: #1C9BCF;
  margin-right: 4px;
}

.valign_bottom {
  vertical-align:bottom;
}

.annotation_set {
  margin: 0px 5px 50px;
  padding-bottom:15px;
}

.annotation_set_sub_section {
  padding: 8px 5px;
  line-height: 24px;
}

div.left_annotation {
	float:left;
	width:30%;
	padding-left:3px;
}

div.right_annotation {
	float:right;
	width:69%;
	padding-left:0px;
}

div.transcript_mapping {
  margin:0px 6px 20px;
	padding:0px 2px 2px;
	border:1px solid #3C3F45;
}

div.sub_transcript_mapping {
  background-color:#FFF;
}


#ensembl_links>div {
  padding-left:5px;
  margin-top:20px;
}

.genomic_mapping {
  margin:20px 5px 50px;
}

.region_cover {
  margin-left: 25px;
}
.region_cover > div {
  padding: 6px 4px;
}
.region_coords {
  font-size: 1.1em;
}

td.mapping{
  padding-left:10px;
  padding-right:5px;
}

td.transcript_mapping {
  border:0px;
}

span.translation_label {
  font-weight: bold;
  font-style: normal;
  color:#000;
}

/* Page Banner */
div.sub_banner {
  margin-top: 105px;
}

div.status_banner {
  padding:0px;
  margin:-5px -15px 0px;
}

div.data_container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

div.status_title {
  text-align:center;
	font-size:20px;
	font-weight:bold;
	padding:2px 5px;
	color:#FFF;
	height:30px;
	position:relative;
}
.status_title_right {
  font-weight:normal;
  font-size:16px;
  padding-left:15px;
  vertical-align:baseline;
}

.status_subtitle {
	text-align:center;
  padding:2px 15px;
  font-size:0.9em
}
.status_subtitle p {
  margin: 0px;
}

.status_progress {
  position:absolute;
  top:2px;
  right:20px;
}

.pending_subtitle {
  border-bottom:1px solid #FFA500;
}

.stalled_subtitle {
  border-bottom:1px solid #F00;
}

/* Menu */
div.menu {
  padding-top:20px;
  min-width:1024px;
}

div.submenu {
  background-color:#F9F9F9;
}
div.submenu ul {
  margin:5px 0px;
  padding-left:0px;
}

div.submenu>ul {
  margin-left:30px;
}

.section_annotation {
  /*border-bottom: 4px solid;*/
  background-color: #3C3F45;
  padding: 5px 5px 5px 0px;
  margin-bottom:15px;
}

.section_annotation1 {
  border-color: #1C9BCF;
}
.section_annotation2 {
  border-color: #78BE43;
}

.section_annotation h2 {
  padding: 0px;
  margin: 0px;
  color: #FFF;
}

.section_annotation_desc {
  font-size:12px;
  margin-left:20px;
  margin-top:22px;
  color:#FFF;
  font-weight:bold;
}
.section_annotation_icon {
  padding:5px 12px !important;
  margin: -5px 0px !important;
}
.section_annotation_icon1 {
  background-color: #1C9BCF;
}
.section_annotation_icon2 {
  background-color: #78BE43;
}


.section_annotation_menu>div {
  background-color: #3C3F45;
}
.section_annotation_menu h4 {
  padding: 0px 8px;
  margin: 0px;
  color: #FFF;
  font-weight: normal;
}
.section_annotation_menu {
  color: #FFF;
  text-decoration: none;
}
.section_annotation_menu:hover>div>div:first-child>h4, .section_annotation_menu:active>div>div:first-child>h4 {
  background-color: #9051A0;
}

a.section_annotation_h_menu>span:first-child {
  padding: 2px 6px 1px;
}
a.section_annotation_h_menu>span:last-child {
  padding-left:4px;
  
}
a.section_annotation_h_menu:hover>span:first-child {
  color: #FFF;
}
/*a.section_annotation_h_menu:hover>span:last-child {
  color: #9051A0;
}*/



div.other_source {
  padding:10px 0px;
  background-color:#F9F9F9;
}

span.other_source{
  color: #3C3F45;
  font-size: 1.1em;
  padding-left:5px;
  font-weight:bold;
  vertical-align:middle;
}
span.source_name {
  color:#1C9BCF;
  padding-left: 10px;
}


/* Sub section */
div.main_subsection {
  margin-left:0px;
  margin-top:25px;
  padding: 6px 10px;
  background-color: #3C3F45;
  vertical-align:baseline;
  font-size:22px;
  border-bottom: 3px solid;
}
div.main_subsection1 {
  color: #1C9BCF;
  border-color: #1C9BCF;
}
div.main_subsection2 {
  color: #78BE43;
  border-color: #78BE43;
}

span.main_subsection {
  vertical-align:baseline;
  display:inline;
  color: #FFF;
}

span.main_subsection_desc {
  font-size:14px;
  color:#FFF;
  margin-left:20px;
  vertical-align:baseline;
}

h3.subsection {
  background-color: #E0E0E0;
  padding: 2px 4px;
  margin-top: 25px;
  margin-bottom: 5px;
  border-bottom: 2px solid;
}

h3.subsection1 {
  color: #1C9BCF;
  border-color: #1C9BCF;
}
h3.subsection2 {
  color: #78BE43;
  border-color: #78BE43;
}

h3.subsection span.subsection {
  color: #3C3F45;
}

h3.subsection span.subsection_label {
  margin-left:25px;
  font-size:16px;
}

h3.sub_subsection {
  padding: 2px 5px;
  margin: 10px 6px 0px;
  color: #FFF;
  background-color: #3C3F45;
}

a.header_link{
  color:#FFFFFF;
}

div.mapping_header {
  vertical-align:baseline;
  margin-bottom: 8px;
  background-color: #E0E0E0;
}

div.mapping_header div {
  float:left;
  vertical-align:baseline;
  padding: 1px 8px;
  line-height:30px;
}

div.mapping_header div:first-child {
  background-color:#FFF;
  border: 1px solid #E0E0E0;
  line-height:28px;
}

div.mapping_header div.separator {
  float:left;
  vertical-align:baseline;
  padding:16px 4px;
  background-color:#FFF;
}

div.mapping_header h4 {
  margin:0px;
}

div.mapping {
  padding-left:25px;
}


.source_left {
  border: 0px;
  padding: 5px;
  font-weight:bold;
  font-size:1.1em;
  vertical-align:top;
  width: 100px;
}
.source_right {
  border: 0px;
  padding: 5px 0px 5px;
}

div.contact {
  margin-bottom:10px;
}

.contact_h_separator {
  padding:0px 10px;
}

.showhide {
  border: 0px;
  padding: 5px;
}

/* Note */
.note {
  margin: 20px 15px 0px;
  background-color:#FFF;
}
.note_title {
  color:#FFF;
  font-size:16px;
  border-bottom:3px solid #600;
  /*border-left: 1px solid #3C3F45;
  border-right: 1px solid #3C3F45;*/
  background-color: #A00;/*#3C3F45;*/
  padding: 4px 8px;
  font-weight: bold;
}
.note_content {
  padding:5px 8px;
  border-left: 1px solid #A55;/*#D99;*/
  border-right: 1px solid #A55;/*#D99;*/
  border-bottom: 1px solid #A55;
}

/* Sequence display */
.partial {
  background: #FAE5AA;
}

.upstream {
  text-transform: lowercase;
  font-family: monospace;
  color: #888;
}
.downstream {
  text-transform: lowercase;
  font-family: monospace;
  color: #888;
}
.intron {
  font-family: monospace;
  text-transform: lowercase;
  color: #888;
}

.intronselect {
  font-family: monospace;
  color: #888;
  background: #68C746;
}

.exon_genomic {
  font-family: monospace;
  font-weight: bold;
  color: #0E4C87;
  background: #FFF;
}

.exon_odd {
  font-family: monospace;
  color: #6495ED;/*#3c3f45;*//*#0E4C87;*/
  background: #FFF;
}

.exon_even {
  font-family: monospace;
  color: #0000AA;/*#CAE1FF;*//*#009933;*/
  background: #FFF;
}

.exon_odd_select {
  font-family: monospace;
  color: #000;/*#0E4C87;*/
  background: #6495ED;
}
.exon_even_select {
  font-family: monospace;
  color: #000;
  background: #CAE1FF;/*#68C746*/;
}

.exontable {
  background: #ffffff;
  color: #000;
}

.introntable {
  background: #ffffff;
  color: #000;
}

.exontableselect {
  background: #CAE1FF;/*#A8FF86;*/
  color: #000;
}

.introntableselect {
  background: #6495ED;/*#68C746;*/
  color: #000;
}

.utr {
  font-family: monospace;
  text-transform: lowercase;
  color: #5F021F;
}

.genomic_utr {
  color: #5F021F;
}

.startcodon {
  color: #000;
  background: #FFFF00;
}

.stopcodon {
  background: #FF6600;
  color: white;
}

.outphase {
  font-family: monospace;
  color: white;
  background: red;
}

.exonkey {
  color: #0E4C87;
}

.outphasekey {
  color: white;
  background: red;
}

.sequence {
  font-family: monospace;
  border: 0px;
  padding: 0px;
}

.sequence_raw {
  width:668px;∂
  font-size:14px;
  line-height: 1.2;
  letter-spacing:0.5px;
}

.fasta {
  background-color:#FFF;
} 

.hardbreak {
  -moz-binding: url('./wordwrap.xml#wordwrap');
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  border: 0px;
  padding: 2px;
  width: 672px;
  background-color: #FFF;
}

.oddDiv {
  background: #F9F9F9;
  margin: 5px 5px 75px;
  padding-bottom: 5px;
}
     
.evenDiv {
  background: #FFFFFF;
  margin: 5px 5px 75px;
  padding-bottom: 5px;
}


div.line_content {
  padding: 2px 0px;
}

div.unhidden_content {
  background-color: #EEE;
  padding:10px 5px 10px;
  margin-bottom:15px;
}

div.meta_source {
  background: #F9F9F9;
  margin-top:20px;
}

div.external_source {
	background-color: #F9F9F9; 
	border: 1px dotted #0E4C87;
	padding-bottom: 10px;
}

div.lrg_source {
	background-color: #F0F0F0;
	margin: 0px -5px;
	padding-left: 5px;
  padding-top: 2px;
}

div.lrg_transcript {
  margin:5px;
}

.lrg_transcript_button{
  padding:6px 6px 6px 15px;
  color: #0E4C87;
  font-weight: bold;
}

table.lrg_transcript_content {
  margin-left: 4px;
  border:none;
  width: 100%;
}
table.lrg_transcript_content>tbody>tr>td:first-child {
  width:120px;
}
table.lrg_transcript_content td {
  padding : 3px 4px;
  vertical-align: top;
  border: none;
}


.lrg_current_assembly {
  color: #78BE43;
  border-bottom: 2px solid #78BE43;
}

.lrg_previous_assembly {
  color: #9051A0;
  border-bottom: 2px solid #9051A0;
}

div.lrg_transcript_separator {
  margin:10px 0px 2px;
  border-top: 2px dotted #BCBEC0;
}

div.fixed_transcript_annotation {
  padding-left: 5px;
  clear: both;
}

div.seq_info_box {
  margin-bottom:20px;
  background-color:#FFF;
  border:1px solid #E0E0E0;
  border-radius:10px;
}

.seq_info_header {
  text-align:left;
  font-weight:bold;
  padding:2px 4px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:#3C3F45;
  background-color:#E0E0E0;
}

ul.seq_info{
  margin-left:20px;
  margin-bottom:0px;
  padding:2px 5px;
}

ul.seq_info > li {
  margin-bottom:5px;
}

.sequence_padding {
  padding: 1px 2px;
}

.legend {
	text-align:center;
	margin:2px 0px;
	border:none;
	font-size:0.9em;
}

.no_data {
  padding: 4px;
  text-align:center;
  font-weight:bold;
}

.hide_button {
  vertical-align:middle;
  border:1px solid #3f9221;
  border-radius:9px;
  padding:1px 4px 1px 20px;
  text-decoration:none;
  color:#FFF;
  position:relative;
  left:-20px;
  box-shadow:2px 2px 2px #888;
  background:url(img/top_arrow_green.png) no-repeat 4px 50%;
  background-color: #48a726;
}
.hide_button:before{
  content:'';
  float:left;
  width: 19px;
  height:17px;
}
.hide_button:hover {
  border:1px solid #0E4C87;
  text-decoration:none;
}

.show_hide_box {
  float:left;
  margin-left:6px;
  margin-right:5px;
  vertical-align:middle;
}
.show_hide_box_text {
  float:left;
  vertical-align:middle
}

.show_hide_button {
  text-decoration: none;
  color: #1C9BCF;
  cursor:pointer;
}
.show_hide_button span {
  color: #FFF;
}

.show_hide_button:hover, 
.show_hide_button:active, .show_hide_button:focus,
.show_hide_button span:hover, .show_hide_button span:active, 
.show_hide_button span:focus {
  color: #9051A0;
  text-decoration: none;
}

.show_hide_anno {
  position:absolute;
  left:450px;
}

div.top_upd_anno_link {
  padding:3px 4px;
  margin-bottom:50px;
  background-color:#F0F0F0;
  font-size:0.9em;
  text-align:right;
}

.vep_icon {
  height:18px;
  width:36px;
  display:inline-block;
  background:url(img/vep_icon.png) no-repeat 50% 50%;
  border:1px solid #0E4C87;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius:5px;
  vertical-align:middle;
  margin-left:12px;
}
.vep_icon:hover {
  border:1px solid #48a726;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.vep_icon:active {
  border:1px inset #48a726;

  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2) inset;
}

footer {
  text-align: center;
}

div.footer {
  margin-top:10px;
  padding: 20px 0px 10px;
  background-color: #242729;
}

footer p {
  font-size: 10px;
  color: #BBB;
  margin: 4px 0px;
  >a {
    color: $lrg_green;
    text-decoration: none;
    &:hover, &:active {
      color: $blue;
    }
  }
}

.text_left {
  text-align: left;
}
.text_right {
  text-align: right;
}




@media (min-width: 1000px) {
  .text_header_center_left_size {
    font-size: 45px;
  }
  .text_header_center_right_size {
    font-size: 35px;
  }
  .download_header_size {
    font-size:16px;
  }

}
@media (max-width: 999px) {
  .text_header_center_left_size {
    font-size: 38px;
  }
  .text_header_center_right_size {
    font-size: 28px;
  }
  .download_header_size {
    font-size:12px;
  }
}

.text_header_center_left {
  font-weight: bold;
  vertical-align:baseline;
  color: #FFF;
  text-align:center;
}

.text_header_center_right {
  vertical-align:baseline;
  color: #FFF;
  text-align:center;
  white-space:normal;
}

.download_header {
  color:#FFF;
  margin:5px auto 10px;
  text-align:center;
  line-height: 1;
  vertical-align:baseline;
}
.download_link {
  text-align:center;
  color:#1C9BCF;/*#FFF;*/
  font-size:40px;
}
.download_content {
  text-align:center;
  padding:5px 0px 0px;
  line-height: 1;
  vertical-align:baseline;
}
.download_link:hover {
  color: #78BE43;
}

/* Transcript image */

.transcript_image_container {
  margin:15px;
  width:1012px;
  background-color:#FFF;
  border: 1px solid #CCC;
}


.transcript_image_label_container_left {
  margin:15px -15px 15px 10px;
  border-top: 1px solid #CCC;
}
.transcript_image_label_container_right {
  margin:15px 10px 15px -15px;
  border-top: 1px solid #CCC;
}

.transcript_image_label {
  line-height:29px;
  margin:5px 0px;
  padding:0px 10px;
  vertical-align:middle;
  font-weight:bold;
  border-bottom: 1px solid #CCC;
}

.transcript_image_label_even {
  background-color:#FFF;
}

.transcript_image {
  position:relative;
  height:30px;
  margin:5px;
}

.intron_line {
  position:absolute;
  left:1px;
  top:14px;
  height:2px;
  z-index:1;
  background-color:rgba(0,153,0, 0.5); /*#090*/
}

.exon_block {
  float:left;
  z-index:10;
  margin:0px;
  padding:0px;
  cursor:pointer;
}

.exon_block_large {
  height:28px;
  position:absolute;
  top:1px;
}

.exon_block_medium {
  height:28px;
}

.exon_block_small {
  height:20px;
  margin-top:4px;
}

.exon_block_coding {
  background-color: #090;
}
.exon_block_non_coding_5_prime {
  border-left:1px solid #090;
  border-top:1px solid #090;
  border-bottom:1px solid #090;
  background-color:#FFF;
}
.exon_block_non_coding_3_prime {
  border-right:1px solid #090;
  border-top:1px solid #090;
  border-bottom:1px solid #090;
  background-color:#FFF;
}
.exon_block_non_coding {
  border: 1px solid #090;
  background-color:#FFF;
}

.exon_block_coding:hover,
.exon_block_large:hover > .exon_block_coding {
  background-color: #0C0;
}
.exon_block_non_coding:hover,
.exon_block_large:hover > .exon_block_non_coding_5_prime, 
.exon_block_large:hover > .exon_block_non_coding_3_prime {
  border-color: #0C0;
}

.selected_exon_block_coding {
  background-color: #6495ED;
}
.selected_exon_block_non_coding_5_prime {
  border-left:1px solid #6495ED;
  border-top:1px solid #6495ED;
  border-bottom:1px solid #6495ED;
  background-color:#FFF;
}
.selected_exon_block_non_coding_3_prime {
  border-right:1px solid #6495ED;
  border-top:1px solid #6495ED;
  border-bottom:1px solid #6495ED;
  background-color:#FFF;
}
.selected_exon_block_non_coding {
  border: 1px solid #6495ED;
  background-color:#FFF;
}

.selected_exon_block_coding:hover,
.exon_block_large:hover > .selected_exon_block_coding {
  background-color: #87adf1;
}
.selected_exon_block_non_coding:hover,
.exon_block_large:hover > .selected_exon_block_non_coding_5_prime, 
.exon_block_large:hover > .selected_exon_block_non_coding_3_prime {
  border-color: #87adf1;
}

.padding_left_10 {
  padding-left:10px;
}

.gradient-dark-green {
  background: #3C3F45;
  /* IE10 */ 
  background: -ms-linear-gradient(left, #3C3F45 25%, #78BE43 100%);
  /* Mozilla Firefox */ 
  background: -moz-linear-gradient(left, #3C3F45 25%, #78BE43 100%);
  /* Opera */ 
  background: -o-linear-gradient(left, #3C3F45 25%, #78BE43 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background: -webkit-gradient(linear, left, right, color-stop(0.25, #3C3F45), color-stop(1, #78BE43));
  /* Webkit (Chrome 11+) */ 
  background: -webkit-linear-gradient(left, #3C3F45 25%, #78BE43 100%);
  /* W3C Markup, IE10 Release Preview */ 
  background: linear-gradient(to right, #3C3F45 25%, #78BE43 100%);
}

/** Genoverse **/
.genoverse_button_line {
   margin:15px 5px 10px;
}
